<div class='form-table-container'>
  <label class='form-label'>Add Recipe Steps</label>
  <table class='recipe-steps-table'>
    <tbody class='steps' data-controller='drag' data-drag-url='/recipes/:id/move_step'>
      <%= f.simple_fields_for :steps, f.object.steps.order(position: :asc) do |step_form| %>
        <%= render 'components/step_form/step_fields', f: step_form %>
      <% end %>
    </tbody>
  </table>

  <%# dynamically adds new step fields via Cocoon gem %>
  <div class='form-actions text-end pe-4'>
    <%= link_to_add_association '+', 
      f, 
      :steps, 
      partial: 'components/step_form/step_fields',
      data: {
        association_insertion_node: '.steps', 
        association_insertion_method: :append 
      } 
    %>
  </div>
</div>