<div data-controller="portions">
  
  <h2>Add Ingredients</h2>

  <%# Selection section %>
  <div class="row w-25">
    
    <div class="col">
      <h6>Spirits</h6>
      <%= collection_select :spirit, :ingredient_id, Spirit.all, :id, :display_name, {:prompt => ""}, { :size => "5", :multiple => true, :class => "spirits-select" } %>
    </div>

    <div class="col">
      <h6>Mixers</h6>
      <%= collection_select :mixer, :ingredient_id, Mixer.all, :id, :display_name, {:prompt => ""}, { :size => "5", :multiple => true, :class => "mixers-select" } %>
    </div>
    <div class="col">
      <h6>Garnishes</h6>
      <%= collection_select :garnish, :ingredient_id, Garnish.all, :id, :display_name, {:prompt => ""}, { :size => "5", :multiple => true, :class => "garnishes-select" } %>
    </div>

    <button data-action="portions#addIngredients" data-url="<%= new_portion_path.to_s %>" id="add-ingredients-btn">Add Ingredients</button>
  </div> 
</div>