<div role='button' 
     class='favoriting-widget position-absolute m-2' 
     data-url='<%= favorite_recipe_path(recipe) %>' 
     data-controller='recipes' 
     data-action='click->recipes#favorite' >
  
  <% if current_user.favorites.include?(recipe) %>
    <%= render partial: 'components/favoriting/favorite' %>
  <% else %>
    <%= render partial: 'components/favoriting/unfavorite' %>
  <% end %>
</div>