<% require "securerandom" %>

<% id = SecureRandom.random_number %>

<div data-controller="steps">
  <li>
    <input name='steps[steps-<%= id %>][title]' placeholder='Title' required>
    <input name='steps[steps-<%= id %>][description]' placeholder='Description' required>
    <button data-action="steps#deleteStep">Delete</button>
  </li>
</div>
