<div id=recipe-modal class='modal fade' role='dialog' data-controller='modal'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <%# modal %>
      <%= render partial: 'components/recipe_modal/modal_header', locals: { recipe: @recipe } %>

      <%# recipe details %>
      <div>
        <%= render partial: 'components/recipe_modal/modal_details', locals: { recipe: @recipe } %>
      </div>
    </div>
  </div>
</div>