
<div id='sign-in-container'>
  <div id='sign-in-content'>
    <div id='sign-in-header'>Welcome Back</div>
    <div id='sign-in-form-container'>
      <%= render partial: 'components/sign_in_form/sign_in_form' %>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>

