<div 
  id='sorting-tabs-container' 
  class='col-10 offset-2'
  data-controller='filtering'
>
  <% SORT_OPTIONS.each do |option| %>
    <div 
      class='sorting-tab'
      data-action='click->filtering#filterRecipes '
    >
      <div 
        class='sorting-option'
        value='<%= option %>'
        data-controller='tabs'
        data-action='click->tabs#updateSortOption'
        <% if option == 'All Recipes' %>
          data-isSelected='<%= true %>'
        <% else %>
          data-isSelected='<%= false %>'
        <% end %>
      ><%= option %></div>
    </div>
  <% end %>
</div>