<div>
 
    <%= f.association :category,
                      as: :check_boxes,
                      include_hidden: false,
                      collection: Category.all.order(:name), 
                      label_method: :name, 
                      value_method: :id %>

  
</div>