  <div class='category-menu-wrapper d-flex flex-row align-items-center justify-content-end' data-controller='recipes'>
    <span class='me-2'>Categories</span>
    <i class="fa-solid fa-bars category-toggle me-3" 
       aria-expanded='false' 
       aria-label='toggle-menu' 
       aria-controls='category-menu' 
       role='button'
       data-action='click->recipes#toggleCategoryMenu'>
    </i>
    <div class='category-menu'>
      <ul class='category-list'>
        <li role='button' class='mx-3 mt-1 list-group-item text-end'>
          All
        </li>
        <% Category.all.each do |c| %>
          
          <li role='button' class='mx-3 mt-1 list-group-item text-end' >
            <div class='category-option' data-value='<%= c.id %>'>
              <%= c.name.pluralize %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class='current-category hidden' data-value='<%= nil %>'></div>
    </div>
  
  </div>