<%# liquor cabinet display %>
<div class='col-2 border-end'>
  <h5 class='text-center mb-4'>Your Liquor Cabinet</h5>

  <% ['Spirit', 'Modifier', 'Sugar', 'Garnish'].each do |ingredient_type| %>

    <%# spirits display %>
    <div class='row'>
      <div class='mx-4'>
        <div>
          <h6 class='fw-bold'><%= ingredient_type.pluralize %></h6>
        </div>

        <% if !current_user.cabinets.empty? %>
          <div>
            <%= collection_select :ingredient, 
                                  :display_name, 
                                  current_user.cabinets.first.ingredients.where(:type => ingredient_type), 
                                  :id, 
                                  :display_name, 
                                  {}, 
                                  html_options = { size: 5 } %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>