<tr class='nested-fields' data-controller='ingredients'>
  <td>
    <%# creates select drop-down for ingredient association objects %>
    <%= f.association :ingredient, 
                      collection: Ingredient.all.order(:display_name), 
                      label: false,
                      label_method: :display_name, 
                      value_method: :id %>
  </td>

  <td><%= f.input :amount, label: false, input_html: { min: '0.1', step: '0.1' } %></td>

  <td><%= f.input :unit, label: false, collection: ['', 'oz.', 'tbsp', 'tsp', 'qt', 'g' ] %></td>

  <%# coccoon gem helper to destroy object %>
  <td><%= link_to_remove_association 'Delete', f, class: 'btn btn-dark btn-sm' %></td>
</tr>