<tr class='nested-fields'>
  <td><%= f.input :name, label: false %></td>
  <td><%= f.input :description, label: false %></td>
  <td> <%= link_to_remove_association 'Delete', f, class: 'btn btn-xs' %></td>
</tr>