<div>
  <table class='table-sm'>
    <thead>
    <tr>
      <th>Step Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody class='steps'>
      <%= f.simple_fields_for :steps do |step_form| %>
        <%= render 'step_fields', f: step_form %>
      <% end %>
    </tbody>
  </table>

  <div class='form-actions'>
    <%= link_to_add_association 'Add Step', f, :steps, class: 'btn btn-secondary', data: {
          association_insertion_node: '.steps', association_insertion_method: :append } %>
  </div>
</div>