<p style="color: green"><%= notice %></p>

<h1 class="text-center">What're we having today?</h1>

<div class="row border text-light bg-dark">
  <div class="container d-flex justify-content-center px-3">
    <span class="px-3">Punches</span>
    <span class="px-3">Ancestrals</span>
    <span class="px-3">Juleps</span>
    <span class="px-3">Daiqueries</span>
    <span class="px-3">Bitters</span>
  </div>
</div>
<div class="row border">
  <%= link_to "New recipe", new_recipe_path %>
</div>

<div class="container-fluid mx-3">
  <div id="recipes" class="row row-cols-1 row-cols-md-5 g-4">
    <% @recipes.each do |recipe| %>
      <%= render partial: "recipes/comps/recipe-card", locals: {recipe: recipe} %>
    <% end %>
  </div>
</div>
