<%= turbo_stream.remove 'spinner' %>
<%= turbo_stream.append 'recipes' do %>
  <% @recipes.each do |recipe| %>
    <%= render partial: "recipe_card", locals: { recipe: recipe } %>
  <% end %>

  <% if @recipes.page(@page.to_i + 1).out_of_range? %>
    <span class='hidden' data-pagination-target='noRecords'></span>
  <% end %>
<% end %>