<div class='container'>
  <div class='row text-center'>
    <h1>New recipe</h1>
    <div class='text-danger fst-italic'><%= flash[:error] %></div>
  </div>

  <div class='row'>
    <div class='d-flex justify-content-center'>
      <%= render "components/recipe_form/form", recipe: @recipe %>
    </div>
  </div>

  <div class='row'>
    <div class='w-50 text-center'>
      <%= link_to "Back to recipes", recipes_path, class: 'btn btn-sm btn-outline-secondary' %>
    <div>
  </div>
</div>