<div
  id='mobile-cabinet-menu'
  class='mobile-menu'
  data-target-menu='mobile-cabinet-menu'
  data-controller='cabinets filtering'
>
  <%= render 'components/cabinet_sidebar/cabinet_ingredients' %>
</div>