<div 
  class='mobile-menu'
  data-target-menu='mobile-main-menu'
  data-controller='tabs'
>
  <div class='mobile-menu-header'>
    <span>Main Menu</span>
  </div>
  <ul>
    <li>Liquor Cabinets</li>
    <li>New Recipe</li>
    <li>Log Out</li>
  </ul>
</div>