<div
  id='mobile-change-cabinet'
  class='mobile-menu'
  data-target-menu='mobile-change-cabinet'
  data-controller='cabinets filtering'
>
  <div class='mobile-menu-header'>
    <span>Your Liquor Cabinets</span>
  </div>
  
  <%= render 'components/cabinet_sidebar/cabinet_dropdown' %>
</div>