<div 
  id='mobile-sort-menu-container'
  data-controller='filtering tabs'
>

  <div 
    class='mobile-menu-close-btn'
    data-action='click->tabs#closeSortMenu'
  >
    <i class="fa-solid fa-xmark"></i>
  </div>

  <%= render 'components/mobile_menus/mobile_sort_menu' %>

  <%= render 'components/mobile_menus/mobile_category_menu' %>

  <%= render 'components/mobile_menus/mobile_cabinet_menu' %>
  
</div>