<%= render 'components/navbar/navbar' %>

<%# collapsible category bar %>
<% if @home %>
  <div id='sticky-category-bar' class='mb-0'>
    <%= render partial: 'components/categories/categories_expanded' %>
  </div>

  <%# sorting / stats bar %>
  <div id='stats-container'>
    <%= render partial: 'components/search_terms/search_terms' %>
    
    <%= render partial: 'components/recipe_count/recipe_count', locals: { recipe_count: @recipe_count } %>
  </div>
<% end %>