<nav id='mobile-nav-container'>
  <ul>
    <li id='nav-logo-container-mobile'>
      <a class="" href="/">C</a>
    </li>
    <li id='nav-search-container-mobile'>
      <%= render partial: 'components/search_form/search_form', locals: { home: @home, id: 'mobile-search' } %>
    </li>
    <li id='nav-menu-container-mobile'>
      <i class="fa-solid fa-bars"></i>
    </li>
  </ul>
</nav>