<div id='ingredient-form'> 
  <div class='row add-ingredients'>
    <h5>Add Ingredients</h5>
  </div>

  <div class='portions ingredient-form-container'>
    <%= f.simple_fields_for :portions do |portion_form| %>
      <%= render 'components/cabinet_form/portion_fields', f: portion_form %>
    <% end %>
  </div>

  <div class='form-actions text-center row mt-4'>
    <div>
      <%= link_to_add_association 'Add Ingredient', 
        f, 
        :portions, 
        partial: 'components/cabinet_form/portion_fields',
        class: 'btn btn-outline-dark btn-sm', 
        data: {
          association_insertion_node: '.portions', 
          association_insertion_method: :append,
          action: 'click->cabinet-form#appendIngredient'
        } 
      %>
    </div>
  </div>
</div>