<div class='nested-fields ingredient-form' data-controller='ingredients' data-ingredient-type=''>
  <div class='ingredient-display'></div>
  <div class='ingredient-input'>
    <%# creates select drop-down for ingredient association objects %>
    <%= f.association :ingredient, 
                      collection: Ingredient.all.order(:display_name), 
                      label: false,
                      label_method: :display_name, 
                      value_method: :id,
                      prompt: 'Select an ingredient',
                      input_html: {
                        placeholder: 'Select an ingredient',
                        class: 'ingredient-name',
                        data: { 
                          action: 'change->cabinet-form#updateType',
                          url: new_cabinet_path
                        }
                      } %>
  </div>

  <div class='ingredient-input'><%= f.input :amount, label: false, placeholder: 'Amount', input_html: { min: '0.1', step: '0.1', class: 'ingredient-amount' } %></div>

  <div class='ingredient-input'><%= f.input :unit, label: false, collection: ['', 'Oz.', 'L', 'mL', 'tbsp', 'tsp'], prompt: 'Units', input_html: { class: 'ingredient-unit'} %></div>

  <%# coccoon gem helper to destroy object %>
  <div class='remove-btn'><%= link_to_remove_association 'x', f, input_html: { class: ''} %></div>
</div>