<%# current liquor cabinet %>
<div class='row'>

  <%# cabinet header %>
  <div class='d-flex flex-row justify-content-center'>
    <%= render partial: 'components/cabinet_sidebar/cabinet_header', 
      locals: { cabinet: current_cabinet } %>
 
    <%= render partial: 'components/cabinet_sidebar/cabinet_dropdown', 
      locals: { cabinet: current_cabinet } 
    %>
  </div>
</div>

<%= render partial: 'components/cabinet_sidebar/cabinet_ingredients', 
  locals: { cabinet: current_cabinet } %>
