    <h5 class='current-cabinet mx-2 text-center'><%= cabinet.name %></h5>
    <i 
      class="toggle-cabinet-menu fa-regular fa-square-plus mt-1" 
      role='button' 
      aria-expanded='false' 
      aria-label='toggle-menu' 
      aria-controls='cabinet-menu-container' 
      data-action='click->cabinets#toggleCabinetMenu'
    ></i>