<div class='form-table-container'>
  <label class='form-label'>Add Ingredients</label>  
  <table class='ingredients-table'>
    <thead>
      <tr>
        <td>Ingredients</td>
        <td>Amount</td>
        <td>Units</td>
        <td>Optional?</td>
        <td></td>
      </tr>
    </thead>
    <tbody class='portions'>
      <%= f.simple_fields_for :portions do |portion_form| %>
        <%= render 'components/portion_form/portion_fields', f: portion_form %>
      <% end %>
    </tbody>
  </table>

  <%# dynamically adds new portion fields via Cocoon gem %>
  <div class='form-actions text-end pe-4'>
    <%= link_to_add_association '+', 
      f, 
      :portions, 
      partial: 'components/portion_form/portion_fields',
      data: {
        association_insertion_node: '.portions', 
        association_insertion_method: :append
      } 
    %>
  </div>
</div>