#cabinet_name {
  width: 500px;
  margin: auto;
  border-radius: 0%;
}

.cabinet-header {
  color:rgb(1, 51, 1);
  margin-bottom: 50px;
}

.cabinet-display {
  margin-top: 20px;
}

.cabinet-display-item {
  color:rgb(1, 51, 1);
}

#ingredient-form {
  margin-top: 50px;
}

.add-ingredients {
  text-align: center;
  color:rgb(1, 51, 1);
}


.ingredient-form {
  display: flex;
  justify-content: center;
}

.ingredient-input {
  margin-right: 10px;
}

.ingredient-name {
  color: rgb(1, 51, 1);
  max-width: 250px;  
}

.ingredient-amount {
  max-width: 100px;
}

.ingredient-unit {
  max-width: 75px;
}

.ingredient-header {
  color: rgb(1, 51, 1);
}

.ingredient-container {
  border-top: 1px solid rgb(1, 51, 1);
 
  .ingredient-form {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .ingredient-display {
    color:rgb(1, 51, 1);
  }
}

.remove-btn {
  display: none;
  margin-left: 5px;
}

.cabinet-container {
  margin-bottom: 30px;
}