#cabinet_name {
  width: 500px;
  margin: auto;
  border-radius: 0%;
}

#ingredient-form {
  margin-top: 200px;
}

.add-ingredients {
  text-align: center;
  color:rgb(1, 51, 1);
}


.ingredient-form {
  display: flex;
  justify-content: center;
}

.ingredient-input {
  margin-right: 10px;
}

.ingredient-name {
  color: rgb(1, 51, 1);
  max-width: 250px;  
}

.ingredient-amount {
  max-width: 100px;
}

.ingredient-unit {
  max-width: 75px;
}

.ingredient-tbody {
  select,
  input {
    background-color: cornsilk;
    border: none;
    color: rgb(1, 51, 1);
  }

}

