.liquor-cabinet-display {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  position: fixed;
  height: 100%;
  color: rgb(1, 55, 1);

  .cabinet-ingredients {
    max-width: 150px;
    min-width: 150px;
    border-radius: 5px;
    background: none;
    color: rgb(1, 55, 1);
  }
}

#cabinet-sidebar-header {
  font-family: 'durerregular';
}



.cabinet-menu-container {
  position: absolute;
  width: 200px;
  top: 30px;
  opacity: 0;
  visibility: hidden;
}

.cabinet-menu {
  border-radius: 5px;
  div {
    cursor: default;
  }

  li {
    &:hover {
      color: lightgreen;
    }
  }
}

// makes cabinet menu visible when toggled
.toggle-cabinet-menu[aria-expanded='true'] ~ .cabinet-menu-container {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

@media (max-width: 821px) {
  .liquor-cabinet-display {
    display: none;
  }
}

@media (max-width: 600px) {
  .cabinet-ingredients {
    width: 100%;
    color: black;
  }
}