* {
  box-sizing: border-box;
}

body {
  background-image: image-url('bartop.jpeg');
}

a {
  text-decoration: none;
  color: black;
}

// keeps sort options from getting hidden beneath category bar
.main-content-wrapper {
  margin-top: 29px;
}