.liquor-cabinet-display {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  position: fixed;
  height: 100%;
  color: rgb(1, 55, 1);
}

.cabinet-ingredients {
  max-width: 150px;
  min-width: 150px;
  border-radius: 5px;
  background: none;
  color: rgb(253, 246, 220);
}

.cabinet-select {
  position: absolute;
  z-index: 1000;
  max-width: 200px;
  left: 30px;
}

.current-cabinet {
}

.bg-img {
  background-image: image-url('bartop.jpeg')
}

@media (max-width: 690px) {
  .liquor-cabinet-display {
    display: none;
  }
}