.modal-header {
  display: flex;
  height: 70px;
  background-color: cornsilk;
}

.left {
  display: flex;
  justify-content: start;
}

.right {
  display: flex;
  justify-content: end;
  align-items: center;
}

#modal-img-container img {
  height: 65px;
  border-radius: 3px;
  margin-right: 10px;
}

#modal-header-recipe-name {
  align-self: center;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(1, 55, 1);
}

.modal-favorite-container {
  position: relative;
  margin-left: 5px;

  .favoriting-widget {
    position: static;
    padding: 10px 0px;
    margin: 0px
  }
}
#modal-header-recipe-categories {
  color: rgb(1, 55, 1);
  font-style: italic;
  margin-right: 10px;
}

.modal-btn-container {
  margin-right: 5px;
}

.modal-edit-btn {
  background: none;
  border: 1px solid rgb(1, 55, 1);
  border-radius: 5px;
  color: rgb(1, 55, 1);

    &:hover {
      background-color: rgb(1, 55, 1);

      a {
        color: cornsilk;
      }
    }
}

#recipe-details-container {
  margin-left: 10px;
  margin-top: 10px;
}

.recipe-details-header {
  font-size: 1em;
  font-weight: bold;
  color:rgb(1, 55, 1);
}

.recipe-details-list {
  list-style: none;
  color:rgb(1, 55, 1);
  font-size: 1em;
}


@media (max-width: 600px) {
  #modal-header-recipe-categories {
    display: none;
  }

  .mobile-details-container {
    flex-wrap: wrap;
  }

  .recipe-details-container {
    width: 100%;
  };
}