.navbar {
  background-color: rgb(1, 55, 1);
}

.navbar-brand {
  color: cornsilk;
  font-family: 'durerregular';

  &:hover {
    background-color: cornsilk;
    color: rgb(1, 55, 1)
  }
}
.nav-link {
  color: cornsilk;

  &:hover {
    background-color: cornsilk;
    color: rgb(1, 55, 1)
  }
}