.card-container {
  cursor: pointer;
  border: none;
}

.card-title {
  color: rgb(1, 51, 1);
  background-color: none;
  font-family: 'durerregular';
}

.card-body {
  background: cornsilk;
}

@media (max-width: 821px) {
  .recipe-cards {
    margin-left: 0px;
    width: 100vw;
  }

  #recipes {
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .recipe-cards {
    position: static;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .recipes-wrapper {
    padding: 0;
  }


  #recipes {
    margin-top: 6em;
    width: 100vw;
  }
}