#sign-in-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

#sign-in-content {
  width: 50%;
}

#sign-in-header {
  color: rgb(1, 55, 1);
  font-size: 2em;
  font-family: 'durerregular';
  font-weight: bold;
}

#sign-in-form-container {
  width: 50%;
}

