<% universal_cabinet = Cabinet.find_by(name: 'Universal Cabinet')%>
<% cabinet = current_user.default_cabinet ? 
      current_user.default_cab : universal_cabinet %>

<%# liquor cabinet display %>
<div class='row'>

  <%# cabinet header %>
  <div class='d-flex flex-row justify-content-center'>
    <h5 class='current-cabinet mx-2'><%= cabinet.name %></h5>
    <i class="fa-regular fa-square-plus mt-1 change-cabinet" role='button' data-action='click->cabinets#toggleCabinetSelect'></i>
  </div>

  <%# cabinet-select pop-up %>
  <div class='row d-none cabinet-select-wrapper'>
    <%= collection_select :cabinet,
                          :name,
                          [*current_user.cabinets, universal_cabinet],
                          :id,
                          :name,
                          { include_blank: '-- Please Select --',
                            class: 'cabinet-option' },
                          { data: { url: cabinet_path(cabinet) },
                            class: 'cabinet-select'}
                        %>
  </div>
</div>

<%# select widgets for each category of ingredient %>
<% ['Spirit', 'Modifier', 'Sugar', 'Garnish'].each do |ingredient_type| %>
  <div class='row mt-2'>
    <div class='mx-4'>
      <div>
        <h6 class='fw-bold'><%= ingredient_type.pluralize %></h6>
      </div>
      <div>
        <%= collection_select :ingredient, 
                              :display_name, 
                              cabinet.ingredients.where(:type => ingredient_type), 
                              :id, 
                              :display_name, 
                              { prompt: '- None -' }, 
                              html_options = { size: 5, 
                                                multiple: true, 
                                                class: 'cabinet-ingredients cabinet-' + ingredient_type.downcase.pluralize } %>
      </div>
    </div>
  </div>
<% end %>
