<div class='container'>
  <div class='row text-center'>
    <h1>New cabinet</h1>
  </div>

  <%= render "form", cabinet: @cabinet %>

  <div class='row'>
    <div>
      <%= link_to "Back to cabinets", cabinets_path, class: 'btn btn-sm btn-outline-secondary' %>
    </div>
  </div>
</div>
