<div 
  id='filter-bar-mobile-container'
  data-controller='tabs'
>
  <ul>
    <li data-action='click->tabs#openSortMenu'>
      <i class="fa-solid fa-sort"></i>
      &nbsp;Sort
    </li>
    <li><i class="fa-solid fa-filter"></i>&nbsp;Filters</li>
    <li><i class="fa-solid fa-wine-bottle"></i>&nbsp;Cabinet</li>
  </ul>
</div>