<div 
  id='filter-bar-mobile-container'
  data-controller='tabs search filtering'
>
  <ul>
    <%# sort options button %>
    <li
      data-target-menu='mobile-sort-menu' 
      data-action='click->tabs#updateMobileMenu click->tabs#openSortMenu'
    >
      <i class="fa-solid fa-sort"></i>
      &nbsp;Filter
    </li>

    <%# category options button %>
    <li 
      data-target-menu='mobile-category-menu'
      data-action='click->tabs#updateMobileMenu click->tabs#openSortMenu'
    >
      <i class="fa-solid fa-filter"></i>
      &nbsp;Category
    </li>

    <%# current cabinet ingredients button %>
    <li
      data-target-menu='mobile-cabinet-menu'
      data-action='click->tabs#updateMobileMenu click->tabs#openSortMenu'
    >
      <i class="fa-solid fa-wine-bottle"></i>
      &nbsp;Cabinet
    </li>

    <%# reset filtering/search options %>
    <li
      data-action='click->search#resetSearchValue click->filtering#resetFilters'
    >
      <i class="fa-solid fa-rotate-left"></i>
      &nbsp;Reset
    </li>
  </ul>
</div>