<% @portions.each do |portion|%>
  <% if @currentPortions %>
    <% next if @currentPortions.include?("portion-" + portion.ingredient_id.to_s) %>
  <% end %>
  <p id="portion-<%= portion.ingredient_id %>"><%= portion.ingredient.display_name %></p>
<% end %>
