<% @portions.each do |portion|%>
  <% if @currentPortions %>
    <% next if @currentPortions.include?("portion-" + portion.ingredient_id.to_s) %>
  <% end %>
  <tr id="portion-<%= portion.ingredient_id %>">
   <td><%= portion.ingredient.display_name %></td>
   <td>INPUT AMOUNT</td>
   <td>UNIT</td>
  </tr>
<% end %>
