<p style="color: green"><%= notice %></p>

<h1>Portions</h1>

<div id="portions">
  <% @portions.each do |portion| %>
    <%= render portion %>
    <p>
      <%= link_to "Show this portion", portion %>
    </p>
  <% end %>
</div>

<%= link_to "New portion", new_portion_path %>
