<div>
  <%= select_tag 'Sort', 
    options_for_select(SORT_OPTIONS), 
    include_blank: 'Sort Options',
    id: 'sort-options',
    data: { controller: 'filtering', 
            action: 'filtering#filterRecipes',
            url: recipes_path } 
  %>
</div>