<div class='sign-in-container'>
  <div class='sign-in-content'>
    <div class='sign-in-header'>Sign Up</div>
    <div class='sign-in-form-container'>
      <%= render partial: 'components/sign_up_form/sign_up_form' %>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>

